## Sample data

In [1]:
from lemuras import Table

cols = ['type', 'size', 'weight', 'tel']
rows = [
    ['A', 1, 10, '+79260360139'],
    ['B', 4, 12, 84505505151],
]
df1 = Table(cols, rows, 'First')

df1

- Table object, title: "First", 4 columns, 2 rows.
'type' 'size' 'weight' 'tel'
'A' 1 10 '+79260360139'
'B' 4 12 84505505151

In [2]:
cols = ['type', 'color', 'size', 'weight', 'tel']
rows = [
    ['A', 'black', 2, 10, '31415926535'],
    ['B', 'red', 6, 14, ''],
    ['A', 'silver', 3, 12, 0],
]
df2 = Table(cols, rows, 'Second')

df2

- Table object, title: "Second", 5 columns, 3 rows.
'type' 'color' 'size' 'weight' 'tel'
'A' 'black' 2 10 '31415926535'
'B' 'red' 6 14 ''
'A' 'silver' 3 12 0

# Concatenate tables

Use **`.concat`** class method with a list of Table objects. Columns of the result are the same as in the first given table. If some tables have more columns, they are ignored, the order of columns does not matter.

In [3]:
res = Table.concat([df1, df2])
res

- Table object, title: "Concat", 4 columns, 5 rows.
'type' 'size' 'weight' 'tel'
'A' 1 10 '+79260360139'
'B' 4 12 84505505151
'A' 2 10 '31415926535'
'B' 6 14 ''
'A' 3 12 0

# Append table

In addition, you can append one table to another using **`.append`** instance method. The rules are the same.

In [4]:
df1.append(df2)
df1

- Table object, title: "First", 4 columns, 5 rows.
'type' 'size' 'weight' 'tel'
'A' 1 10 '+79260360139'
'B' 4 12 84505505151
'A' 2 10 '31415926535'
'B' 6 14 ''
'A' 3 12 0