## You need to import only one class from a single file

In [1]:
from lemuras import Table

# Create table with a list of columns' names and values in rows.

In [2]:
cols = ['type', 'size', 'weight', 'tel']
rows = [
    ['A', 1, 12, '+79360360193'],
    ['B', 4, 12, 84505505151],
    ['A', 3, 10, '+31415926535'],
    ['B', 6, 14, ''],
    ['A', 4, 15, '23816326412'],
    ['A', 2, 11, 0],
]

df1 = Table(cols, rows)
df1

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 0

# Cells access

To get a cell's value, use **`.cell`** method with name or index of a column and row index:

In [3]:
print(df1.cell('weight', 2))

10

Also, you can access the first row without specifying an index:

In [4]:
print(df1.cell('size'))

1

# Filter table by columns' values

In [5]:
df2 = df1.loc( df1[0] == 'B' )
df2

- Table object, 4 columns, 2 rows.
'type' 'size' 'weight' 'tel'
'B' 4 12 84505505151
'B' 6 14 ''

In [6]:
c = df1['size'].isin([2,3]) & (df1[0] == 'A') & (df1[2] > 10)

df2 = df1.loc(c)
df2

- Table object, 4 columns, 1 rows.
'type' 'size' 'weight' 'tel'
'A' 2 11 0

# Copy table

# Apply a function or a lambda to column

Just a function to be applied on a column.

In [7]:
def filterPhone(x):
    try:
        return str(int(x))[-10:]
    except:
        return ''

Create a deep copy of initial table and apply a function and a lambda expression to columns.

**`.apply`** method takes column name as a string or column index as an integer number.

In [8]:
df2 = df1.copy()
df2.apply(3, filterPhone)
df2.apply('size', lambda x: x*2)
df2

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 2 12 '9360360193'
'B' 8 12 '4505505151'
'A' 6 10 '1415926535'
'B' 12 14 ''
'A' 8 15 '3816326412'
'A' 4 11 '0'

The original table was not changes:

In [9]:
df1

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 0

# Rename columns

You can specify old and new names of a column:

In [10]:
df2.renameColumn('type', 'TyPe')
df2

- Table object, 4 columns, 6 rows.
'TyPe' 'size' 'weight' 'tel'
'A' 2 12 '9360360193'
'B' 8 12 '4505505151'
'A' 6 10 '1415926535'
'B' 12 14 ''
'A' 8 15 '3816326412'
'A' 4 11 '0'

Or, you can set the list itself. But it **must** have the same length!

In [11]:
df2.columns = ['kind', 'size', 'weight', 'phone']
df2

- Table object, 4 columns, 6 rows.
'kind' 'size' 'weight' 'phone'
'A' 2 12 '9360360193'
'B' 8 12 '4505505151'
'A' 6 10 '1415926535'
'B' 12 14 ''
'A' 8 15 '3816326412'
'A' 4 11 '0'

# Sort table

**`.sort`** method takes a column name or a column index or a list of them.

Second arument **`asc`** is optional. It may be a boolean value or a list of them.

In [12]:
df1.sort('weight', asc=False)
df1

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 '23816326412'
'B' 6 14 ''
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 2 11 0
'A' 3 10 '+31415926535'

In [13]:
df1.sort(['size', 'weight'])
df1

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 12 '+79360360193'
'A' 2 11 0
'A' 3 10 '+31415926535'
'B' 4 12 84505505151
'A' 4 15 '23816326412'
'B' 6 14 ''

In [14]:
df1.sort(['weight', 'size'], asc=[False, True])
df1

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 '23816326412'
'B' 6 14 ''
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 2 11 0
'A' 3 10 '+31415926535'

# Work with CSV

If you specify an argument to **`.toCsv`** method, it will be used as a filename for saving the result.

In [15]:
txt = df1.toCsv()
txt

'type,size,weight,tel\nA,4,15,23816326412\nB,6,14,\nA,1,12,+79360360193\nB,4,12,84505505151\nA,2,11,0\nA,3,10,+31415926535'

Without **`inline=True`** the first argument of **`fromCsv`** class method will be considered as a file name for data loading.

In [16]:
df2 = Table.fromCsv(txt, inline=True)
df2

- Table object, 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 23816326412
'B' 6 14 ''
'A' 1 12 79360360193
'B' 4 12 84505505151
'A' 2 11 0
'A' 3 10 31415926535