In [1]:
from lemuras import Table

## Load source table

In [6]:
df1 = Table.fromCsv('data/cohort.csv')
df1

- Table object, 3 columns, 54 rows.
'dateClient' 'dateOrder' 'count'
'2015-06' '2015-07' 1
'2015-06' '2015-09' 1
'2015-06' '2015-10' 1
. . .

# Create pivot table

To create a pivot table you have to specify 3 columns names:

- First one will be used for columns;
- Second one for rows;
- Third one for cells values.

Also you may set default value for lacking cells.

In [7]:
df2 = df1.pivot('dateOrder', 'dateClient', 'count', empty=0)
df2.toCsv('data/pivot.csv')
df2

- Table object, 18 columns, 6 rows.
'dateClient' '2015-07' '2015-08' '2015-09' '2015-10' '2015-11' ...
'2015-06' 1 0 1 1 0
'2015-07' 3 2 2 0 1
'2015-08' 0 4 7 3 0
'2015-09' 0 0 174 255 143
'2015-10' 0 0 0 808 417
'2015-11' 0 0 0 0 159