In [1]:
from lemuras import Table

Increase the output size

In [2]:
Table.minshowrows = 9
Table.maxshowrows = 12

## First table

In [3]:
cols = ['type', 'size', 'weight', 'tel']
rows = [
    ['A', 2, 12, '+79260360139'],
    ['B', 1, 12, 84505505151],
    ['D', 1, 10, '31415926535'],
    ['B', 2, 14, ''],
    ['A', 1, 15, '23816326412'],
    ['D', 2, 11, 0],
]
df1 = Table(cols, rows, 'Sample1')

df1

- Table object, title: "Sample1", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 2 12 '+79260360139'
'B' 1 12 84505505151
'D' 1 10 '31415926535'
'B' 2 14 ''
'A' 1 15 '23816326412'
'D' 2 11 0

## Second table

In [4]:
cols = ['type', 'size', 'cost']
rows = [
    ['A', 2, 3.1415],
    ['B', 1, 2.7182],
    ['C', 2, 1.2345],
    ['D', 1, 1.2345],
]
df2 = Table(cols, rows, 'Sample2')

df2

- Table object, title: "Sample2", 3 columns, 4 rows.
'type' 'size' 'cost'
'A' 2 3.1415
'B' 1 2.7182
'C' 2 1.2345
'D' 1 1.2345

# Tables JOIN by single column

It works as a usual **`JOIN`** with columns equality check in **SQL** or **`merge`** in **pandas**.

You can specify single column name or a list of names.

Both tables must have the specified columns, otherwise you should rename them.

In [5]:
df3 = Table.merge(df1, df2, 'type', 'inner')
df3

- Table object, title: "Merged inner Sample1 Sample2", 6 columns, 6 rows.
'type' 'size' 'weight' 'tel' 'size' 'cost'
'A' 2 12 '+79260360139' 2 3.1415
'B' 1 12 84505505151 1 2.7182
'D' 1 10 '31415926535' 1 1.2345
'B' 2 14 '' 1 2.7182
'A' 1 15 '23816326412' 2 3.1415
'D' 2 11 0 1 1.2345

# Merge tables inner

In [6]:
df3 = Table.merge(df1, df2, ['type', 'size'], 'inner')
df3

- Table object, title: "Merged inner Sample1 Sample2", 5 columns, 3 rows.
'type' 'size' 'weight' 'tel' 'cost'
'A' 2 12 '+79260360139' 3.1415
'B' 1 12 84505505151 2.7182
'D' 1 10 '31415926535' 1.2345

# Merge tables left

In [7]:
df3 = Table.merge(df1, df2, ['type', 'size'], 'left')
df3

- Table object, title: "Merged left Sample1 Sample2", 5 columns, 6 rows.
'type' 'size' 'weight' 'tel' 'cost'
'A' 2 12 '+79260360139' 3.1415
'B' 1 12 84505505151 2.7182
'D' 1 10 '31415926535' 1.2345
'B' 2 14 '' None
'A' 1 15 '23816326412' None
'D' 2 11 0 None

# Merge tables right

In [8]:
df3 = Table.merge(df1, df2, ['type', 'size'], 'right')
df3

- Table object, title: "Merged right Sample1 Sample2", 5 columns, 4 rows.
'type' 'size' 'weight' 'tel' 'cost'
'A' 2 12 '+79260360139' 3.1415
'B' 1 12 84505505151 2.7182
'D' 1 10 '31415926535' 1.2345
'D' 1 None None 1.2345

# Merge tables outer

In addition, you can provide a value that will be used for empty cells.

In [9]:
df3 = Table.merge(df1, df2, ['type', 'size'], how='outer', empty=0)
df3

- Table object, title: "Merged outer Sample1 Sample2", 5 columns, 7 rows.
'type' 'size' 'weight' 'tel' 'cost'
'A' 2 12 '+79260360139' 3.1415
'B' 1 12 84505505151 2.7182
'D' 1 10 '31415926535' 1.2345
'B' 2 14 '' 0
'A' 1 15 '23816326412' 0
'D' 2 11 0 0
'D' 1 0 0 1.2345