## You need to import only one class

In [1]:
from lemuras import Table

# Some sample data

In [2]:
cols = ['type', 'size', 'weight', 'tel']
rows = [
    ['A', 1, 12, '+79360360193'],
    ['B', 4, 12, 84505505151],
    ['A', 3, 10, '+31415926535'],
    ['B', 6, 14, ''],
    ['A', 4, 15, '23816326412'],
    ['A', 2, 11, None],
]

df1 = Table(cols, rows, 'Sample')
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 None

# Cells access

To get a cell's value, use **`.cell(column, row)`** method:

In [3]:
df1.cell('weight', 2)

10

Or access cell through column:

In [4]:
df1['weight'][2]

10

To set a value, you can use both approaches too, using **`.set_cell(column, row, value)`** method or column:

In [5]:
df1.set_cell('weight', 0, 9)
df1['weight'][1] = 9
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'B' 4 9 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 None

# Copy of table

You can create a deep copy of initial table. After its modifications, the original table won't be changed.

In [6]:
df2 = df1.copy()
df2

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'B' 4 9 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 None

# Columns access

There are the following methods to work with columns:

In [7]:
# First argument must be either a list or a Column object. Second argument is optional title.
df2.add_column(['red', 'orange', 'yellow', 'green', 'blue', 'purple'], 'Color')

# Sets values for *existing* column. First argument must be a column name or index.
# Second argument must be either a list or a Column object.
df2.set_column('type', ['H', 'E', 'L', 'L', 'O', '!'])

df2

- Table object, title: "Sample", 5 columns, 6 rows.
'type' 'size' 'weight' 'tel' 'Color'
'H' 1 9 '+79360360193' 'red'
'E' 4 9 84505505151 'orange'
'L' 3 10 '+31415926535' 'yellow'
'L' 6 14 '' 'green'
'O' 4 15 '23816326412' 'blue'
'!' 2 11 None 'purple'

To retrieve a column use this:

In [8]:
df2.column('size')

- Column object, title: "size" values: [1, 4, 3, 6, 4, 2].

All these methods can be replaced with subscript notation:

In [9]:
df2['weight'] = [1, 2, 3, 4, 5, 6]
df2['lens'] = df2['Color'].lengths()
df2

- Table object, title: "Sample", 6 columns, 6 rows.
'type' 'size' 'weight' 'tel' 'Color' 'lens'
'H' 1 1 '+79360360193' 'red' 3
'E' 4 2 84505505151 'orange' 6
'L' 3 3 '+31415926535' 'yellow' 6
'L' 6 4 '' 'green' 5
'O' 4 5 '23816326412' 'blue' 4
'!' 2 6 None 'purple' 6

In [10]:
df2['size']

- Column object, title: "size" values: [1, 4, 3, 6, 4, 2].

# Rename columns

You can specify old and new names of a column:

In [11]:
df2.rename('type', 'TyPe')
df2

- Table object, title: "Sample", 6 columns, 6 rows.
'TyPe' 'size' 'weight' 'tel' 'Color' 'lens'
'H' 1 1 '+79360360193' 'red' 3
'E' 4 2 84505505151 'orange' 6
'L' 3 3 '+31415926535' 'yellow' 6
'L' 6 4 '' 'green' 5
'O' 4 5 '23816326412' 'blue' 4
'!' 2 6 None 'purple' 6

# Rows access

You can get a row object by index:

In [12]:
df2 = df1.copy()
some_row = df2.row(2)
print(some_row)

['A',3,10,'+31415926535']

This is a proxy object which is linked to the original table and has many helpful things:

In [13]:
print('.columns:', some_row.columns)
print('.len:', len(some_row))
print('[1]:', some_row[1])
print('["type"]:', some_row['type'])
some_row[0] = ':P'
# The table is changed!
df2

.columns: ['type', 'size', 'weight', 'tel']
.len: 4
[1]: 3
["type"]: A

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'B' 4 9 84505505151
':P' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 None

Also, you can extract a row as a dictionary:

In [14]:
df2.row_named(1)

{'type': 'B', 'size': 4, 'weight': 9, 'tel': 84505505151}

A row can be deleted:

In [15]:
df2.delete_row(1)

Or added new ones, both with a list or dictionary:

In [16]:
df2.add_row(['P', 2, 3, '+12345678900'])

df2.add_row({'size': 6, 'tel': 0, 'type': 'E', 'weight': 3})

df2

- Table object, title: "Sample", 4 columns, 7 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
':P' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 None
'P' 2 3 '+12345678900'
'E' 6 3 0

# Filtration of table by column values

Tables has `.loc(column, separate=False)` method which takes a column and returns new Table with rows on `True` values of the column. Creation of such columns is simple because columns support many logical operators:

In [17]:
df2 = df1.copy()
df2 = df1.loc( df1[0] == 'B' )
df2

- Table object, title: "Filtered Sample", 4 columns, 2 rows.
'type' 'size' 'weight' 'tel'
'B' 4 9 84505505151
'B' 6 14 ''

By default, **`loc`** method creates a linked table, so if you modify it, the original table will be modified too (set `separate=True` to prevent this behaviour).

In [18]:
c = df1['size'].isin([2,3]) & (df1[0] == 'A') & (df1[2] > 10)

df2 = df1.loc(c)
df2['size'][0] = 111
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'B' 4 9 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 111 11 None

# Sort table

**`.sort`** method takes a column name or a column index or a list of them.

Second arument **`asc`** is optional. It may be a boolean value or a list of them (if multiple columns given)).

In [19]:
df1.sort('weight', asc=False)
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 '23816326412'
'B' 6 14 ''
'A' 111 11 None
'A' 3 10 '+31415926535'
'A' 1 9 '+79360360193'
'B' 4 9 84505505151

In [20]:
df1.sort(['size', 'weight'])
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'A' 3 10 '+31415926535'
'B' 4 9 84505505151
'A' 4 15 '23816326412'
'B' 6 14 ''
'A' 111 11 None

In [21]:
df1.sort(['weight', 'size'], asc=[False, True])
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 '23816326412'
'B' 6 14 ''
'A' 111 11 None
'A' 3 10 '+31415926535'
'A' 1 9 '+79360360193'
'B' 4 9 84505505151