## You need to import only one class from the single file

In [1]:
from lemuras import Table

# Create table with a list of columns' names and values in rows.

In [2]:
cols = ['type', 'size', 'weight', 'tel']
rows = [
    ['A', 1, 12, '+79360360193'],
    ['B', 4, 12, 84505505151],
    ['A', 3, 10, '+31415926535'],
    ['B', 6, 14, ''],
    ['A', 4, 15, '23816326412'],
    ['A', 2, 11, 0],
]

df1 = Table(cols, rows, 'Sample')
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 0

# Copy table

You can create a deep copy of initial table. After its modifications, the original table won't be changed.

In [3]:
df2 = df1.copy()
df2

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 12 '+79360360193'
'B' 4 12 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 0

# Cells access

To get a cell's value, use **`.cell`** method with name or index of a column and row index:

In [4]:
print(df1.cell('weight', 2))

10

Also, you can access cells in the first row without specifying an index:

In [5]:
print(df1.cell('size'))

1

To set a value, use **`.set_cell(column, row, value)`** method:

In [6]:
df1.set_cell('weight', 0, 9)
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'B' 4 12 84505505151
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 0

# Columns access

There are the following methods to work with columns:

In [7]:
# First argument must be either a list or a Column object. Second argument is optional title.
df2.add_column(['red', 'orange', 'yellow', 'green', 'blue', 'purple'], 'Color')

# Sets values for *existing* column. First argument must be a column name or index.
# Second argument must be either a list or a Column object.
df2.set_column('type', ['H', 'E', 'L', 'L', 'O', '!'])

df2

- Table object, title: "Sample", 5 columns, 6 rows.
'type' 'size' 'weight' 'tel' 'Color'
'H' 1 12 '+79360360193' 'red'
'E' 4 12 84505505151 'orange'
'L' 3 10 '+31415926535' 'yellow'
'L' 6 14 '' 'green'
'O' 4 15 '23816326412' 'blue'
'!' 2 11 0 'purple'

To retrieve a column use this:

In [8]:
df2.column('size')

- Column object, title: "size" values: [1, 4, 3, 6, 4, 2].

The last 3 methods can be replaced with subscript notation:

In [9]:
df2['weight'] = [1, 2, 3, 4, 5, 6]
df2['lens'] = df2['Color'].lengths()
df2

- Table object, title: "Sample", 6 columns, 6 rows.
'type' 'size' 'weight' 'tel' 'Color' 'lens'
'H' 1 1 '+79360360193' 'red' 3
'E' 4 2 84505505151 'orange' 6
'L' 3 3 '+31415926535' 'yellow' 6
'L' 6 4 '' 'green' 5
'O' 4 5 '23816326412' 'blue' 4
'!' 2 6 0 'purple' 6

In [10]:
df2['size']

- Column object, title: "size" values: [1, 4, 3, 6, 4, 2].

# Rename columns

You can specify old and new names of a column:

In [11]:
df2.rename('type', 'TyPe')
df2

- Table object, title: "Sample", 6 columns, 6 rows.
'TyPe' 'size' 'weight' 'tel' 'Color' 'lens'
'H' 1 1 '+79360360193' 'red' 3
'E' 4 2 84505505151 'orange' 6
'L' 3 3 '+31415926535' 'yellow' 6
'L' 6 4 '' 'green' 5
'O' 4 5 '23816326412' 'blue' 4
'!' 2 6 0 'purple' 6

Or, you can set the list itself. But it **must** have the same length!

In [12]:
df2.columns = ['kind', 'size', 'weight', 'phone']
df2

- Table object, title: "Sample", 4 columns, 6 rows.
'kind' 'size' 'weight' 'phone'
'H' 1 1 '+79360360193'
'E' 4 2 84505505151
'L' 3 3 '+31415926535'
'L' 6 4 ''
'O' 4 5 '23816326412'
'!' 2 6 0

# Apply functions and lambdas

Just a function to be applied on a column.

In [13]:
def filterPhone(x):
    try:
        return str(int(x))[-10:]
    except:
        return ''

Apply a function and a lambda expression to columns.

**`.apply`** method takes column name as a string or column index as an integer number.

In [14]:
df2 = df1.copy()
df2.apply(3, filterPhone)
df2.apply('size', lambda x: x*2)
df2

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 2 9 '9360360193'
'B' 8 12 '4505505151'
'A' 6 10 '1415926535'
'B' 12 14 ''
'A' 8 15 '3816326412'
'A' 4 11 '0'

# Filter table by columns' values

In [15]:
df2 = df1.loc( df1[0] == 'B' )
df2

- Table object, title: "Filtered Sample", 4 columns, 2 rows.
'type' 'size' 'weight' 'tel'
'B' 4 12 84505505151
'B' 6 14 ''

In [16]:
c = df1['size'].isin([2,3]) & (df1[0] == 'A') & (df1[2] > 10)

df2 = df1.loc(c)
df2

- Table object, title: "Filtered Sample", 4 columns, 1 rows.
'type' 'size' 'weight' 'tel'
'A' 2 11 0

# Rows access

You can get a row as a list by index (0 by default):

In [17]:
df2 = df1.copy()

df2.row()

['A', 1, 9, '+79360360193']

Or as a dictionary:

In [18]:
df2.row_named(1)

{'size': 4, 'tel': 84505505151, 'type': 'B', 'weight': 12}

Also you can delete a row:

In [19]:
df2.delete_row(1)
# 0 by default
df2.delete_row()

Or add new ones:

In [20]:
df2.add_row(['P', 2, 3, '+12345678900'])

df2.add_row({'size': 6, 'tel': 0, 'type': 'E', 'weight': 3})

df2

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 3 10 '+31415926535'
'B' 6 14 ''
'A' 4 15 '23816326412'
'A' 2 11 0
'P' 2 3 '+12345678900'
'E' 6 3 0

# Sort table

**`.sort`** method takes a column name or a column index or a list of them.

Second arument **`asc`** is optional. It may be a boolean value or a list of them.

In [21]:
df1.sort('weight', asc=False)
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 '23816326412'
'B' 6 14 ''
'B' 4 12 84505505151
'A' 2 11 0
'A' 3 10 '+31415926535'
'A' 1 9 '+79360360193'

In [22]:
df1.sort(['size', 'weight'])
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 1 9 '+79360360193'
'A' 2 11 0
'A' 3 10 '+31415926535'
'B' 4 12 84505505151
'A' 4 15 '23816326412'
'B' 6 14 ''

In [23]:
df1.sort(['weight', 'size'], asc=[False, True])
df1

- Table object, title: "Sample", 4 columns, 6 rows.
'type' 'size' 'weight' 'tel'
'A' 4 15 '23816326412'
'B' 6 14 ''
'B' 4 12 84505505151
'A' 2 11 0
'A' 3 10 '+31415926535'
'A' 1 9 '+79360360193'